@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  min-height: 100%;
  background-image: url(../../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

strong, b {
  color: #fff !important;
  font-weight: 600;
}

a {
  color: #6cc091;
  text-decoration: none;
}

p {
  margin: 0 0 2em 0;
  color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff !important;
  font-weight: 400;
  line-height: 1.5;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.85em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 150px 150px 300px 100px 300px;
  /*
  element place on grids
  */
  grid-template-areas:  "n"
                        "h"
                        "b"
                        "bu"
                        "f";
}

.container>div {
  color: white;
  font-family: Helvetica;
  padding: 1em;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, rgba(75, 75, 93, 0.85), rgba(75, 75, 93, 0.85));
}

.nav-bar {
  grid-area: n;
  background-color: #ed979e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-text {
  grid-area: h;
  background-color: #97a1ed;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  text-align: center !important;
  justify-content: center;
  align-items: baseline !important;
}

.header-text h1 {
  font-size: 4em;
  margin-bottom: 0px;
  color: #fff !important;
}

.body {
  grid-area: b;
  background-color: #97a1ed;
  flex-direction: row;
  justify-content: space-around !important;
}

.body p {
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.1em;
}

.get-started {
  grid-area: bu;
  background-color: #97a1ed;
  justify-content: center;
  align-items: initial !important;
}

.chat-button {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #6cc091;
  color: #6cc091 !important;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
  height: 3.75em;
  line-height: 3.85em;
  letter-spacing: 2px;
  padding: 0 4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}



.footer {
  grid-area: f;
  background-color: #b597ed !important;
  justify-content: center;
}

.copyright {
  font-size: 20px;
  color: #6cc091 !important;
}

.section-one, .section-two, .section-three{
  text-align: center !important;
  line-height: 5px !important;
}

.section-one, .section-two {
  padding-right: 250px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.section-two, .section-three {
  padding-left: 0 !important;
}

.icons {
  text-decoration: none;
  border-bottom: 50px !important;
}

.logo {
  margin-left: 55px;
}

.home-but {
  margin-right: 110px;
}
